@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

.footer {
    background: #ffc222;
    padding: 30px 5%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.footer .row_footer {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.footer .row_footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.8s;
}

.footer .row_footer a:hover {
    font-size: 19px;
}

.footer .row_footer ul {
    width: 100%;
}

.footer .row_footer ul li {
    display: inline-block;
    margin: 0px 2%;
    text-align: center;
}

.footer .row_footer a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row_footer ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row_footer a i {
        margin: 0% 3%;
    }
}
