:root {
    --bg-color: #fcfcfc;
    --logo-color: #ffbb00;
    --text-color: #fff;
    --nav-bg-color: #000;
    --header-color: #36454F;
    --btn-color: #fcfcfc;



    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: black;
    overflow-x: hidden;
    background: var(--bg-color);
    font-size: 0.9rem;
}

.container_1{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}

section{
    margin-top: 3rem;
    width: 100vw;
}

h1, h2, h3, h4, h5{
    color: var(--text-color);
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.1rem;
    image-rendering: 0.8rem 0 0.5rem;
}
h4{
    font-size: 1rem;
}

a{
    color: var(--text-color);
    transition: var(--transition);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/* NAVBAR */

nav{
    background: var(--nav-bg-color);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    z-index: 10000;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}

nav button{
    display: none;
}

.nav_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    margin-left: -8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.5rem; 
    color: var(--logo-color);
    font-weight: bolder;
    
}

.avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--btn-color);
}

.nav_items{
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: -7rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav_profile{
    position: relative;
    cursor: pointer;
}

.nav_profile ul{
    position: absolute;
    width: 70%;
    top: 125%;
    right: 0;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

.nav_profile:hover > ul{
    visibility: visible;
    opacity: 1;

}

.nav_profile ul li a{
    padding: 0.8rem;
    padding-right: 6rem;
    background: var(--nav-bg-color);
    display: block;
    width: 100%
}

.nav_profile ul li:last-child a{
    background: red;
    color: var(--text-color);
}
/* NAVBAR */

/* HEADER */

.ENACTUS{
    background: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 4.2rem;
    padding-bottom: 1rem;
    font-weight: 900;
    font-size: xx-large;
    z-index: 0;
    font-weight: bolder;
    background-color: var(--nav-bg-color);
}
  
header>h1::before,  
header>h1::after {
    content: url("https://github.com/imamantripathi/Enactus-MSI/blob/master/Images/favicon-32x32-removebg-preview.png?raw=true");
}
/* HEADER */

/* MARQUEE  (Donation line) */
.donation_marquee {
    background: var(--nav-bg-color);
    color: var(--logo-color);
    padding-bottom: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: -4rem;
    position:relative;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.4);
  }
  
  .donation_marquee>a>button {
    background-color: var(--btn-color);
    border-radius: 0.6rem;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    cursor: pointer;
    padding: 1rem;
    transition: var(--transition);
  }
  
  .donation_marquee>a>button:hover {
    background: #ffd426;
    box-shadow: 1px 1px 12px #ffe229;
  }
/* MARQUEE  (Donation line) */

/* Slideshow css started from here  */
.main-container {
    display: flex;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    background-image: url(../Images/team_enactus-modified.jpeg);
    padding-top: -4rem;
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow:  0 2rem 2rem rgba(0,0,0,0.4);
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
    margin-top: 1rem;
    border-radius: 5%;
    box-shadow: 10px 8px black;
  }
  
/* slideshow container */
  .slideshow-container {
    max-width: 500vh;
    position: relative;
    margin: auto;
    text-align: center;
  }
  
  .slideshow-container h1 {
    font-weight: 800;
    width: 100%;
    height: 100%;
    color: #f8e55c;
    font-size: 130px;
    text-shadow: 4px 4px black;
    background-color: #fffbdd;
    box-shadow: 5px 5px black;
    border: 3px solid black;
    padding: 60px;
    border-radius: 50px;
  
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  #about {
    /* background:linear-gradient(to top, #FFFFE0, #f2ce00); */
    background-color: var(--body);
  }
  
  .content {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 8px 8px black;
  }
  
  @keyframes fade {
    from {
      opacity: 0.5;
    }
  
    to {
      opacity: 1;
    }
  }

/* scroll fade css  */
.scrollFade {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .scrollFade--visible {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--animate {
    transition: opacity 1.3s ease-in-out;
  }
  
  
  
  .searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
  }
  
  .searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
  }
  
  nav {
    display: flex;
    background-color: hsl(0, 0%, 0%);
    justify-content: space-between;
    padding: 10px 0;
    color: rgb(255, 254, 254);
    align-items: center;
  }
  
  .right_bar {
    display: flex;
  }
  
  .logo>h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-weight: 800;
    color: rgb(255, 187, 0);
    padding-left: 20px;
  
  }
  
  nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    transition: 0.3s ease;
  
  }
  nav ul:hover{
    color: yellow;
  }
  
  nav ul li a {
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-size: 1em;
  }
  nav > ul{
    padding-top: 20px;
    font-size: 20px;
  }
  .btn {
    border-radius: 40px;
  }
  